/.data
/.env

wordpress/*
!wordpress/wp-content

wordpress/wp-content/*
!wordpress/wp-content/plugins
!wordpress/wp-content/themes

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/.gitkeep
# Your plugin :
# !wordpress/wp-content/plugins/your_plugin

wordpress/wp-content/themes/*
!wordpress/wp-content/themes/.gitkeep
# Your theme :
# !wordpress/wp-content/themes/your_theme
